<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css">
        <style>
            .markdown-body {
                box-sizing: border-box;
                min-width: 200px;
                max-width: 980px;
                margin: 0 auto;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <main>
            <article class="markdown-body">
                <div id='content'>{{ handleEntryFunc .markdown }}</div>
            </article>
        </main>
        {{ if echoNeedMermaid }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.4.0/mermaid.min.js" defer async></script>
        {{ end }}
    </body>
</html>
